# PostgreSQL local
DATASOURCE_URL=jdbc:postgresql://localhost:5432/pescago
DATASOURCE_USER=(tu usuario de postgres)
DATASOURCE_PASSWORD=(tu contraseña de postgres)
# No olvides cambiar los parentesis por el usuario y contraseña de postgres y quitar los parentesis

# Origen permitido para CORS (Angular dev server)
FRONTEND_URL=http://localhost:4200